#qzq{
	background-color: white;
	min-height: 60em;
}


#qzq h3{
    font-family: 'Vollkorn', serif;
	text-align:center;
}

#qzq img{
	margin-left:12%;
	width: 75%
}

#qzq h1{
	padding-top:6%;
	margin:0%;
	font-family: 'Vollkorn', serif;
	color:#D72323;
	text-transform: uppercase;
	text-align:center;
}

#content{
	margin: auto;
	border: 0;
}