#form_add_articolo h2, h3{
    font-family: 'Vollkorn', serif;
    color:#D72323;
    text-transform: uppercase;
}

#form_add_articolo {
	margin-left: 20%;
    font-family: 'Vollkorn', serif;
}

#button_form_scrivi{
	font-family: "Allerta Stencil", Sans-serif;
	color: white;
	border-radius: 5px;
    background-color: #28a745;
    border: none;
    padding: 0.7em 1.2em;
    margin-top: 1em;
    cursor: pointer;
}

#i_miei_articoli{
    font-family: "Allerta Stencil", Sans-serif;
    border-radius: 5px;
    background-color: #0275d8;;
    border: none;
    padding: 0.7em 1.2em;
    margin-top: 1em;
    cursor: pointer;
    color: white;
}

#scrivi_i_miei_articoli{
    margin-top: 1em;
    margin-left: 16%;
}

#button_form_scrivi:hover{
    background-color:#008000;
}

#i_miei_articoli:hover{
    background-color:#01549b;
}

textarea {
    padding:0.5% 2%;
    margin-top:1%;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

#form_tag {
    width: 20em;
    float: left;
}

#form_bottoni{
    margin-top: 27em;
}

#button_scrivi_articolo{
    display: none;
}

.da_approvare{
    text-decoration: none;
    font-family: "Allerta Stencil", Sans-serif;
    border-radius: 5px;
    background-color: #FFCE00;
    border: none;
    padding: 0.7em 1.2em;
    margin-top: 0.5em;
    cursor: pointer;
}
.da_approvare:hover{
    background-color:#FFB400;
}
#form_da_aprovare{
    margin-top: 1em;
    margin-left: 6.3em;
}
