#form_add_articolo {
	margin-left: 20%;
    font-family: 'Vollkorn', serif;
}

#button_form_scrivi{
	font-family: "Allerta Stencil", Sans-serif;
	color: white;
	border-radius: 5px;
    background-color: #28a745;
    border: none;
    padding: 0.7em 1.2em;
    margin-top: 1em;
    margin-left: 27%;
    cursor: pointer;
}

#i_miei_articoli{
    font-family: "Allerta Stencil", Sans-serif;
    border-radius: 5px;
    background-color: #FFCE00;
    border: none;
    padding: 0.7em 1.2em;
    margin-top: 1em;
    cursor: pointer;
}

#scrivi_i_miei_articoli{
    margin-top: 1em;
    margin-left: 16%;
}

#button_form_scrivi:hover{
    background-color:#008000;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> adb3e4ffa608f6ecea29308ed1f704e57ddaa76c
#i_miei_articoli:hover{
    background-color:#FFB400;
}

<<<<<<< HEAD
=======
=======
>>>>>>> 58f6b983c06d2f44b8f80780bd1ee9f386aa42ff
>>>>>>> adb3e4ffa608f6ecea29308ed1f704e57ddaa76c
textarea {
    padding:0.5% 2%;
    margin-top:1%;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}