#articoli h4{
	float: right;
	font-weight: bold;
	text-align: center;
	margin:auto;
}

#articoli img{
	width: 20%;
	height: 20%;
	padding: 0.2em;
}

#articoli{
    min-height: 35em;
}

.form_articolo{
	border:1px solid black;
	margin-bottom: 1em;
	display: flex;
}

/*pagina miei_articoli*/
.approved{
    padding: 0.5em 1em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
	max-width: 5em;
}

.modifica{
    font-family: 'Vollkorn', serif;
    border-radius: 5px;
    background-color: #FFCE00;
    border: none;
    padding: 0.7em 0.7em;
    margin-top: 1em;
    cursor: pointer;
    max-height: 3em;
    text-decoration: none;
}
.modifica:hover{
    background-color:#FFB400;
}

#pagine{
	text-align: center;
	margin-top: 2em;
	color:#D72323;
	font-size: 150%;
}

#pagine a{
	font-family: Verdana,sans-serif;
	padding:0 0.2em;
}

.button_cancella{
	font-family: "Allerta Stencil", Sans-serif;
    border-radius: 5px;
   	background-color: #D72323;
   	color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.7em;
    cursor: pointer;
    max-height: 2.5em;
    text-decoration: none;
}

.button_approva{
    color: white;
    background-color: #28a745;
    font-family: 'Vollkorn', serif;
    border-radius: 5px;
    border: none;
    padding: 0.7em 0.7em;
    margin-top: 1em;
    cursor: pointer;
    max-height: 3em;
    text-decoration: none;
}

.button_approva:hover{
    background-color:#008000;
}