 h2,h3 { 
     font-family: Vollkorn, sans-serif; 
}



#weare {
    padding: 0.5% 0;
    text-align:center;
    border-color: white;
	background-color:white;
}

#weare h2{
    color: #D72323;
}

#respons h2{
    padding-top:2%;
}

#respons h3{
    margin:0%;
}
#generalita_sito p{
    padding:0% 1.5%;
}

#mat, #nico, #doge{
    width:85%;
    margin: 1% 0%;
    display:inline-block;
}

#respons p{
    text-align:left;
    padding-top: 9%;
    padding-left: 0.5%;
}

#doge p{
    padding-left:1.5%;
}

#pelo, #nic{
    padding-top:3%;
    padding-bottom: 1%;
    margin: 0% 1.5%;
    float:left;
    width:20%;
}

#dog{
    padding-top:3%;
    padding-bottom: 1%;
    margin: 0% 1.5%;
    float:right;
    width:20%;
}

#chisiamo:hover, #chisiamo:focus, #chisiamo:active, #chisiamo a:hover, #chisiamo a:focus, #chisiamo a:active{
    background-color: #303841;
}