#contacts:hover, #contacts:focus, #contacts:active, #contacts a:hover, #contacts a:focus, #contacts a:active{
    background-color: #303841;
}

h2 {font-family:Vollkorn;}

#contattaci{
    margin-left:5%;
}

#contattaci h2{
    font-weight: bold;
    color:#D72323;
    margin-top:2.5%;
}


#invia_email {
	margin-left: 11%;
    font-family: 'Vollkorn', serif;
}

#invia{
	font-family: "Allerta Stencil", Sans-serif;
	color: white;
	border-radius: 5px;
    background-color: #28a745;
    border: none;
    padding: 0.7em 1.2em;
    margin-top: 1em;
    margin-left:35%;
    cursor: pointer;
}

#contattaci input[type="submit"]:hover{
    background-color:#008000;
}

#contattaci li{
    margin: 1% 2%;
}

textarea, input[type="text"] {
    padding:0.5% 2%;
    margin-top:1%;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}