/*solo per la pagina home*/
#home:hover, #home:focus, #home:active, #home a:hover, #home a:focus, #home a:active{
	background-color: #303841;
}

#home .form_articolo_footer a:hover, #home .form_articolo_footer a:focus, #home .form_articolo_footer a:active{
	background-color: unset;
}

#contenitore_l, #contenitore_r{
	padding-top: 2em;
	width: 45%;
	margin-left: 1em;
}

#contenitore_l a, #contenitore_r a{
	text-decoration: none;
}

#contenitore_l{float: left;}

#contenitore_r{float: right;}

.form_articolo img{
	display: block;
	width: 100%;
}

.form_artiolo_titolo{
	background-color: #3A4750;
	border-bottom: 1px solid #000000;
	padding: 0.5em;
}

.form_articolo{
	min-height: 10em;
	margin-top: 1em;
	border-radius: 6px;
	margin-bottom: 1em;
	border: 1px solid #E6E6E6;
}

.form_articolo p{
	padding: 0.5em;
	text-decoration: none;
}

.form_articolo_footer{
	padding-top: 0.2em;
	padding-bottom: 0.2em; 
	padding-left: 0.5em;
	border-top: 1px solid #000000;
	text-align: left;
	background-color: #EEEEEE;
	text-decoration-line: underline;
}

.titolo{
	margin: 0;
	font-family: 'Vollkorn', serif;
	color:#D72323;
	text-transform: uppercase;
	text-align: center;
}