#reg_ok_content{
	background-color: white;
	min-height: 60em;
}

#reg_ok_content p{
	font-family: 'Vollkorn', serif;
	text-transform: uppercase;
	text-align:center;
	font-size:1.20em;
}

#reg_ok_content img{
	margin-top: 12%;
	margin-left:12%;
	width: 75%
}

#reg_ok_content h1{
	padding-top:3em;
	margin:0em;
	font-family: 'Vollkorn', serif;
	color:#D72323;
	text-transform: uppercase;
	text-align:center;
}