#reg_ok_content{
	background-color: white;
	min-height: 60em;
}

#reg_ok_content p{
	font-family: "Allerta Stencil", Sans-serif;
	text-align:center;
	font-size:1.20em;
}

#reg_ok_content img{
	margin-top: 12%;
	margin-left:12%;
	width: 75%
}

#reg_ok_content h1{
	padding-top:3em;
	margin:0em;
	font-family: "Allerta Stencil", Sans-serif;
	color: red;
	text-align:center;
}