#sec:hover, #sec:focus, #sec:active, #sec a:hover, #sec a:focus, #sec a:active{
    background-color: #303841;
}

#security{
	text-align: center;
}

#security h2, h3{
	font-family: 'Vollkorn', serif;
	color:#D72323;
	text-transform: uppercase;
}

#security a{
    font-family: "Allerta Stencil", Sans-serif;
}

#genere, #stomaco, #peso{
	padding-top: 0.5em;
}

#peso{
	padding-bottom: 0.5em;
}

#risultato_2{
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	list-style-type: none;
	border:1px solid black;
	max-width: 30em;
}

#risultato_2 li{ 
  margin: 0.2em 0; 
  display: inline-flex; 
} 
 
#risultato_2 p{ 
  text-transform: lowercase; 
} 
 
#risultato_2 button{ 
  margin-left: 1em; 
}

#risultato_alcol{display:none;}

#articoli a:hover {
    color:blue;
    background-color:aqua;
}


#articoli{
	background-color: #D72323;
	color:white;
	padding: 1em;
	border-radius: 5px;
	text-decoration: none;
}

#articoli:hover {
    background-color:red;
}